<p style="color: green"><%= notice %></p>

<h1>List of Articles</h1> <%= link_to "New article", new_article_path %>

<div id="articles">
  <% @articles.each_with_index do |article, index| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
    <hr>
  <% end %>
</div>
<br>
<%= will_paginate @articles%>
 <%#= will_paginate @articles, renderer: BootstrapPagination::Rails %>
